*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f4fff8;
}
#container{
    width: 100%;
    height: 450px;
    border: 1px solid black;
    background-color: #fff;
    background-image: linear-gradient(to right, rgba(181, 245, 255, 0.7) 40%, rgb(255, 255, 255) 50%, rgba(153, 240, 91, 0.5) 90%);
}
#first{
    width: 800px;
    height: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}
#first img{
    width: 170px;
    margin-bottom: 25px;
}
#first h1{
    width: 700px;
    font-size: 52px;
    margin-bottom: 25px;
}
.large{
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 25px;
}
.small{
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    width: 500px;
}

/*email input*/
#div{
    border: 2px solid black;
    border-radius: 28px;
    width: 400px;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 25px;
}
#div .email{
    width: 300px;
    border: none;
    background-color: transparent;
}
#div .submit{
    color: #fff;
    background-color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 17px;
    cursor: pointer;
}

#second{
    margin: 0 auto;
    border: 1px solid black;
    width: 400px;
    text-align: center;
    padding: 20px;
}
#second img{
    width: 370px;
}

#third{
    border: 1px solid black;
    display: flex;
    width: 1100px;
    margin: 0 auto;
}
#third div{
    border: 1px solid black;
}
#customizable{
    width: 400px;
    padding: 10px;
}
#customizable h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#customizable p{
    line-height: 23px;
}
#all{
    width: 400px;
    padding: 10px;
}
#all h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#all p{
    line-height: 23px;
}
#safe{
    width: 400px;
    padding: 10px;
}
#safe h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#safe p{
    line-height: 23px;
}

#akoko{
    width: 1100px;
    margin: 30px auto;
    color: black;
}

#images{
    border: 1px solid black;
    width: 1100px;
    margin: 0 auto;
}
#images img{
    padding: 2px;
    margin-bottom: 30px;
}

#ekeji{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: black;
}

#forth{
    border: 1px solid black;
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}
#forth h1{
    font-size: 42px;
    margin-bottom: 35px;
}


#fifth{
    border: 1px solid black;
    width: 100%;
    margin-top: 60px;
    background-color: #154d44;
}
#build{
    border: 1px solid black;
    width: 1100px;
    margin: 70px auto;
    text-align: center;
    padding: 30px;
    color: #fff;
}
#build h1{
    font-size: 42px;
    margin-bottom: 35px;
}
#build h4{
    margin-bottom: 35px;
}
#build p{
    font-size: 12px;
}
/*email button*/
#vid{
    border: 2px solid black;
    border-radius: 28px;
    width: 400px;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 25px;
    background-color: #fff;
}
#vid .email{
    width: 300px;
    border: none;
    background-color: transparent;
}
#vid .submit{
    color: #fff;
    background-color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 17px;
    cursor: pointer;
}


#sixth, #sixth div{
    border: 1px solid black;
}
.faq{
    width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px;
}
.faq h1{
    font-size: 42px;
}
#box{
    width: 920px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0px 70px;
}

/*accordion*/
.accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 7px 0px;
    width: 100%;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
  }
  .accordion:after {
    content: '\002B';
    color: #000;
    background-color: white;
    padding: 0px 6px;
    border-radius: 15px;
    transform: scale(1.2);
    float: right;
    margin-right: 10px; 
  }
  .active:after {
    content: "\2212";
    color: #fff;
    background-color: black;
  }
  .text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  #box p{
    width: 720px;
    padding-top: 10px;
    line-height: 25px;
  }
  #box hr{
    margin: 40px 0px;
    width: 800px;
  }

  #sitemap {
    width: 1100px;
    margin: 100px auto;
    border: 1px solid black;
  }
  #sitemap ul{
    text-align: right;
    display: flex;
    justify-content: right;
  }
  #sitemap ul li{
    list-style-type: none;
    margin-right: 60px;
  }
  #sitemap ul li a{
    color: #000;
    font-weight: bold;
  }
  #sitemap ul li a:hover{
    text-decoration: none;
  }
  .ssshop{
    display: none;
  }

  /*MEDIA QUERY*/

  @media only screen and (max-width:600px){
    div{
        border: 1px solid black;
    }
    .logo{
        display: none;
    }
    #first{
        width: 390px;
        padding: 0px;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #fff;
    }
    #first .ssshop{
        display: initial;
        width: 130px;
        margin: 0px;
        margin-top: 5px;
    }
    #first h1{
        font-size: 36px;
        width: 390px;
        margin: 25px 0px;
    }
    .large{
        font-size: 15px;
        line-height: 20px;
    }
    #div{
        width: 350px;
        padding: 5px;
        border-radius: 26px;
        margin-bottom: 30px;
    }
    #div .email{
        width: 250px;
    }
    .small{
        width: 390px;
    }

    #second{
        width: 390px;
    }
    #second img{
        width: 300px;
    }

    #third{
        display: block;
        width: 390px;
    }
    #third div{
        width: 390px;
        padding: 0px;
        margin-top: 35px;
    }
    #third div h2{
        font-size: 20px;
    }
    #third div p{
        font-size: 13px;
    }
    #akoko{
        width: 390px;
        margin: 35px auto;
    }

    #images{
        width: 390px;
    }
    #images img{
        padding: 0px;
        width: 190px;
    }
    #ekeji{
        width: 390px;
        margin: 0px auto;
        margin-bottom: 35px;
    }

    #forth{
        width: 390px;
    }
    #forth h1{
        font-size: 36px;
    }
    #forth p{
        font-size: 14px;
    }

    #build{
        width: 390px;
        padding: 0px;
    }
    #build h1{
        font-size: 36px;
    }
    #build h4{
        font-size: 14px;
    }
    #vid{
        width: 350px;
        padding: 5px;
        border-radius: 26px;
        margin-bottom: 30px;
    }
    #vid .email{
        width: 250px;
    }
    #build p{
        font-size: 11px;
    }

    .faq{
        width: 390px;
        padding: 0px;
    }
    .faq h1{
        font-size: 36px;
    }

    /*accordion*/
    #box{
        width: 380px;
        padding: 0px;
    }
    .accordion{
        font-size: 20px;
    }
    .accordion:after{
        margin: 0px;
    }
    #box p{
        width: 380px;
    }
    #box hr{
        width: 390px;
        margin: 35px 0px;
    }

    #sitemap{
        width: 400px;
    }
    #sitemap ul li{
        margin-right: 12px;
    }
    #sitemap ul li a{
        font-size: 14px;
    }

  }


  /*MEDIA QUERY*/

  @media only screen and (max-width:900px) and (min-width:600px){
    div{
        border: 1px solid black;
    }
    .logo{
        display: none;
    }
    #first{
        width: 650px;
        padding: 0px;
        margin: 0 auto;
        text-align: center;
        border: 1px solid #fff;
    }
    #first .ssshop{
        display: initial;
        width: 150px;
        margin: 0px;
        margin-top: 5px;
    }
    #first h1{
        font-size: 45px;
        width: 650px;
        margin: 25px 0px;
    }
    .large{
        font-size: 15px;
        line-height: 20px;
    }
    #div{
        border: 2px solid black;
        border-radius: 28px;
        width: 400px;
        padding: 10px;
        margin: 0px auto;
        margin-bottom: 25px;
    }
    #div .email{
        width: 300px;
        border: none;
        background-color: transparent;
    }
    #div .submit{
        color: #fff;
        background-color: black;
        padding: 8px;
        border: 1px solid black;
        border-radius: 17px;
        cursor: pointer;
    }
    .small{
        width: 650px;
    }

    #second{
        width: 650px;
    }
    #second img{
        width: 350px;
    }

    #third{
        display: block;
        width: 650px;
    }
    #third div{
        width: 650px;
        padding: 0px;
        margin-top: 35px;
    }
    #third div h2{
        font-size: 22px;
    }
    #third div p{
        font-size: 14px;
    }
    #akoko{
        width: 650px;
        margin: 35px auto;
    }

    #images{
        width: 650px;
    }
    #images img{
        padding: 0px;
        width: 200px;
    }
    #ekeji{
        width: 650px;
        margin: 0px auto;
        margin-bottom: 35px;
    }

    #forth{
        width: 650px;
    }
    #forth h1{
        font-size: 38px;
    }
    #forth p{
        font-size: 16px;
    }

    #build{
        width: 650px;
        padding: 0px;
    }
    #build h1{
        font-size: 38px;
    }
    #build h4{
        font-size: 14px;
    }
    #vid{
        border: 2px solid black;
        border-radius: 28px;
        width: 400px;
        padding: 10px;
        margin: 0px auto;
        margin-bottom: 25px;
        background-color: #fff;
    }
    #vid .email{
        width: 300px;
        border: none;
        background-color: transparent;
    }
    #vid .submit{
        color: #fff;
        background-color: black;
        padding: 8px;
        border: 1px solid black;
        border-radius: 17px;
        cursor: pointer;
    }
    #build p{
        font-size: 11px;
    }

    .faq{
        width: 650px;
        padding: 0px;
    }
    .faq h1{
        font-size: 38px;
    }

    /*accordion*/
    #box{
        width: 650px;
        padding: 0px;
    }
    .accordion{
        font-size: 22px;
    }
    .accordion:after{
        margin: 0px;
    }
    #box p{
        width: 650px;
    }
    #box hr{
        width: 650px;
        margin: 35px 0px;
    }

    #sitemap{
        width: 650px;
    }
    #sitemap ul li{
        margin-right: 25px;
    }
    #sitemap ul li a{
        font-size: 14px;
    }

  }