*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e9f9ee;
}
#container{
    width: 100%;
    height: 450px;
    border: 1px solid black;
    background-color: rgb(181, 245, 255);
}
#first{
    width: 800px;
    height: 450px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}
#first img{
    width: 170px;
    margin-bottom: 25px;
}
#first h1{
    width: 700px;
    font-size: 52px;
    margin-bottom: 25px;
}
.large{
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 25px;
}
.small{
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    width: 500px;
}

/*email input*/
#div{
    border: 2px solid black;
    border-radius: 28px;
    width: 400px;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 25px;
}
#div .email{
    width: 300px;
    border: none;
    background-color: transparent;
}
#div .submit{
    color: #fff;
    background-color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 17px;
    cursor: pointer;
}

#second{
    margin: 0 auto;
    border: 1px solid black;
    width: 400px;
    text-align: center;
    padding: 20px;
}
#second img{
    width: 370px;
}

#third{
    border: 1px solid black;
    display: flex;
    width: 1100px;
    margin: 0 auto;
}
#third div{
    border: 1px solid black;
}
#customizable{
    width: 400px;
    padding: 10px;
}
#customizable h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#customizable p{
    line-height: 23px;
}
#all{
    width: 400px;
    padding: 10px;
}
#all h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#all p{
    line-height: 23px;
}
#safe{
    width: 400px;
    padding: 10px;
}
#safe h2{
    margin-top: 10px;
    margin-bottom: 10px;
}
#safe p{
    line-height: 23px;
}

#akoko{
    width: 1100px;
    margin: 30px auto;
    color: black;
}

#images{
    border: 1px solid black;
    width: 1100px;
    margin: 0 auto;
}
#images img{
    padding: 2px;
    margin-bottom: 30px;
}

#ekeji{
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: black;
}

#forth{
    border: 1px solid black;
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}
#forth h1{
    font-size: 42px;
    margin-bottom: 35px;
}


#fifth{
    border: 1px solid black;
    width: 100%;
    margin-top: 60px;
    background-color: #154d44;
}
#build{
    border: 1px solid black;
    width: 1100px;
    margin: 70px auto;
    text-align: center;
    padding: 30px;
    color: #fff;
}
#build h1{
    font-size: 42px;
    margin-bottom: 35px;
}
#build h4{
    margin-bottom: 35px;
}
#build p{
    font-size: 12px;
}
/*email button*/
#vid{
    border: 2px solid black;
    border-radius: 28px;
    width: 400px;
    padding: 10px;
    margin: 0px auto;
    margin-bottom: 25px;
    background-color: #fff;
}
#vid .email{
    width: 300px;
    border: none;
    background-color: transparent;
}
#vid .submit{
    color: #fff;
    background-color: black;
    padding: 8px;
    border: 1px solid black;
    border-radius: 17px;
    cursor: pointer;
}


#sixth, #sixth div{
    border: 1px solid black;
}
.faq{
    width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 10px;
}
.faq h1{
    font-size: 42px;
}
#box{
    width: 920px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 0px 70px;
}

/*accordion*/
.accordion {
    background-color: transparent;
    cursor: pointer;
    padding: 7px 0px;
    width: 100%;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
  }
  .accordion:after {
    content: '\002B';
    color: #000;
    background-color: white;
    padding: 0px 6px;
    border-radius: 15px;
    transform: scale(1.2);
    float: right;
    margin-right: 10px; 
  }
  .active:after {
    content: "\2212";
    color: #fff;
    background-color: black;
  }
  .text {
    
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  #box p{
    width: 720px;
    padding-top: 10px;
    line-height: 25px;
  }
  #box hr{
    margin: 40px 0px;
    width: 800px;
  }

  #sitemap {
    margin: 100px auto;
    border: 1px solid black;
  }
  #sitemap ul{
    text-align: right;
    display: flex;
    justify-content: right;
  }
  #sitemap ul li{
    list-style-type: none;
    margin-right: 60px;
  }
  #sitemap ul li a{
    color: #000;
    font-weight: bold;
  }
  #sitemap ul li a:hover{
    text-decoration: none;
  }
  